<section class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="footerTitle">Services</h4>
                <nav class="footerNav">
                    <a class="footerNavItem" href="#">Desktop Repair</a>
                    <a class="footerNavItem" href="#">Tablet Repair</a>
                    <a class="footerNavItem" href="#">Smartphone Repair</a>
                    <a class="footerNavItem" href="#">Laptop Repair</a>
                    <a class="footerNavItem" href="#">Hardware Repair</a>
                </nav>
            </div>

            <div class="col-lg-4">
                <div class="logo col-lg-12">
                    <img class="logoImage" src="img/logo.png" alt="">
                    <span class="logoFirstWord">FIX</span>
                    <b class="logoSecondWord">IT</b>
                </div>
                <div class="footerInfoBlock">
                    <p class="footerInfoParagraph">
                        The highly-trained technicians have many years of experience
                        with all laptop, notebook, macbook and desktop computer
                        repairs. We pride our company on honesty and the good
                        relationships with customers.
                    </p>
                    <br />
                    <p class="footerInfoParagraph">
                        <i class="footerIcon fa fa-map-marker" aria-hidden="true"></i>
                        140 Horizon Circle, San Diego, CA
                    </p>

                    <p class="footerInfoParagraph">
                        <i class="footerIcon fa fa-phone" aria-hidden="true"></i>
                        01 123 456 789
                    </p>

                    <p class="footerInfoParagraph">
                        <i class="footerIcon fa fa-envelope" aria-hidden="true"></i>
                        <a class="footerLink" href="#">aircool@support.com</a>
                    </p>

                    <div class="footerSocial">
                        <a class="footerSocialItem first" href="#">&#xf09a;</a>
                        <a class="footerSocialItem second" href="#">&#xf099;</a>
                        <a class="footerSocialItem third" href="#">&#xf0d5;</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h4 class="footerTitle">Newsletter</h4>
                <div class="footerNewsletterBlock">
                    <p>
                        Enter your email address here always to be updated.
                        We promise not to spam!
                    </p>

                    <form class="footerForm">
                        <input class="footerInput" type="text" name="" value="" placeholder="Email address">
                        <button class="footerButton" type="button" name="button">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="copyrights container-fluid">
    <div class="container copyrightsBlock">
        <p>
            &copy; Copyright 2017 All Rights Reserved
        </p>
    </div>
</section>
