<section class="header container-fluid">
    <div class="container">
        <div class="row no-gutters">
            <div id="logo" class="logo col-lg-3 col-md-4 col-sm-4">
                <img class="logoImage" src="img/logo.png" alt="">
                <span class="logoFirstWord">FIX</span>
                <b class="logoSecondWord">IT</b>
            </div>

            <nav class="headerNav col-lg-7">
                <ul>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Home</a>
                    </li>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Pages</a>
                    </li>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Services</a>
                    </li>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Blog</a>
                    </li>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Shop</a>
                    </li>
                    <li class="headerNavItem">
                        <a class="headerNavLink" href="#">Contacts</a>
                    </li>
                </ul>
            </nav>

            <div class="headerCallBtn col-xl-2 offset-xl-0 col-lg-2 col-md-3 col-sm-4 offset-sm-4">
                <a href="#">
                    Schedule Free<br />
                    Device Drop In
                </a>
            </div>

            <span class="offcanvasMenu col-md-1 col-sm-1" onclick="openNav()">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</section>

<section class="headerCarousel">
    <div class="headerCarouselItem">
        <img class="headerCarouselImage" src="img/slide1.png" alt="">
        <div class="container">
            <div class="slide1 row no-gutters">
                <pre class="headerCarouselThinTitle col-lg-12">Any Computer Problems?</pre>

                <strong class="headerCarouselBoldTitle col-lg-12">We Will Help</strong>


                <div class="headerCarouselBtn">
                    <a href="#">All Services</a>
                </div>
            </div>
        </div>
    </div>

    <div class="headerCarouselItem">
        <img class="headerCarouselImage" src="img/slide1.png" alt="">
        <div class="container">
            <div class="slide2 row no-gutters">
                <pre class="headerCarouselThinTitle col-lg-12">The Same Day</pre>

                <strong class="headerCarouselBoldTitle col-lg-12">Phone Repair</strong>

                <div class="headerCarouselBtn offset-lg-5">
                    <a href="#">Advantages</a>
                </div>
            </div>
        </div>
    </div>

    <div class="headerCarouselItem">
        <img class="headerCarouselImage" src="img/slide1.png" alt="">
        <div class="container">
            <div class="slide3 row no-gutters">
                <pre class="headerCarouselThinTitle col-lg-12">Multi-Brand</pre>

                <strong class="headerCarouselBoldTitle col-lg-12">Device Service</strong>

                <div class="headerCarouselBtn offset-lg-5">
                    <a href="#">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="headerCarouselDots"></div>
