<section class="inTouchHeader container-fluid">
    <div class="container">
        <div class="row">
            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Call Us 24/7</h6>
                <pre class="inTouchText">+123-456-7890</pre>
            </div>

            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Email Address</h6>
                <pre class="inTouchText">device@repair.com</pre>
            </div>

            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Open Hours</h6>
                <pre class="inTouchText">Daily 8:00-19:00</pre>
            </div>
        </div>
    </div>
</section>

<section class="about container-fluid">
    <div class="container">
        <div class="row">
            <div class="aboutLeft col-lg-7">
                <img src="img/mac.png" class="aboutMac" alt="">
                <div class="aboutMacLine"></div>
                <div class="aboutMacLogo"></div>
            </div>

            <div class="aboutRight col-md-12 col-lg-5">
                <pre class="aboutThinTitle">Welcome!</pre>
                <h1 class="aboutBoldTitle">About us</h1>
                <p class="aboutParagraph">
                    The highly-trained technicians have many years of experience with
                    all laptop, notebook, macbook and desktop computer repairs. We
                    pride our company on honesty and the good relationships forged
                    through customer satisfaction. We service all makes and models
                    of MAC laptops, Imac, PC laptops, notebooks, etc.
               </p>

               <div class="aboutButton">
                   <a href="#">About page</a>
               </div>
            </div>
        </div>
    </div>
</section>

<section class="services container-fluid">
    <div class="container">
        <div class="row">
            <h3 class="servicesTitle col-lg-12">Services</h3>
            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-desktop fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Desktop Repair</a>

                <p class="servicesParagraph">
                    With our Laptop Repair, you’ll be thrilled you came to us
                    for your repair. Bring us whatever you need us to fix.
                </p>
            </div>

            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-tablet fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Tablet Repair</a>

                <p class="servicesParagraph">
                    Since 2007, we’ve provided customers with convenient
                    and comprehensive services for all their repair needs.
                </p>
            </div>

            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-mobile fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Smartphone Repair</a>

                <p class="servicesParagraph">
                    We’ll be sure to do everything in our power to get the job
                    done right. Get in touch to find out more about this service.
                </p>
            </div>

            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-laptop fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Laptop Repair</a>

                <p class="servicesParagraph">
                    Our Laptop Repair are available to all of our clients,
                    when they need them most. Call us today and find out more.
                </p>
            </div>

            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-sliders fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Hardware Repair</a>

                <p class="servicesParagraph">
                    Our fantastic Hardware Repair are among our most popular
                    services. Our team members are happy to answer any of your
                    questions.
                </p>
            </div>

            <div class="servicesItem col-lg-4 col-md-6">
                <i class="servicesIcon fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>

                <a class="servicesLink" href="#">Apps Instalation</a>

                <p class="servicesParagraph">
                    We committed to your happiness, which is why our expert
                    repair technicians provide all the services you need.
                    to leave our shop satisfied.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="blog container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="blogTitle col-lg-12">Blog posts</h3>
            <h6 class="blogTitleText col-lg-12">Read our recent blogs to always be updated with our news</h6>

            <div class="blogItem col-lg-4 col-md-8">
                <img class="blogImage" src="img/blog.png" alt="">
                <div class="blogContent">
                    <h5 class="blogItemTitle">
                        <a class="blogLink" href="#">A Note About Windows 10 Upgrades</a>
                    </h5>

                    <p class="blogParagraph">
                        Our clients are constantly asking me about Windows 10 and
                        the upgrade process...
                    </p>
                </div>

                <div class="blogInfo">
                    <div class="blogUser">
                        <i class="blogIcon fa fa-user" aria-hidden="true"></i>
                        <span class="blogText">Admin</span>
                    </div>

                    <div class="blogDate">
                        <i class="blogIcon fa fa-calendar" aria-hidden="true"></i>
                        <span class="blogText">June 11</span>
                    </div>

                    <div class="blogCat">
                        <i class="blogIcon fa fa-tag" aria-hidden="true"></i>
                        <span class="blogText">News</span>
                    </div>
                </div>
            </div>

            <div class="blogItem col-lg-4 col-md-8">
                <img class="blogImage" src="img/blog.png" alt="">
                <div class="blogContent">
                    <h5 class="blogItemTitle">
                        <a class="blogLink" href="#">A Note About Windows 10 Upgrades</a>
                    </h5>

                    <p class="blogParagraph">
                        Our clients are constantly asking me about Windows 10 and
                        the upgrade process...
                    </p>
                </div>

                <div class="blogInfo">
                    <div class="blogUser">
                        <i class="blogIcon fa fa-user" aria-hidden="true"></i>
                        <span class="blogText">Admin</span>
                    </div>

                    <div class="blogDate">
                        <i class="blogIcon fa fa-calendar" aria-hidden="true"></i>
                        <span class="blogText">June 11</span>
                    </div>

                    <div class="blogCat">
                        <i class="blogIcon fa fa-tag" aria-hidden="true"></i>
                        <span class="blogText">News</span>
                    </div>
                </div>
            </div>

            <div class="blogItem col-lg-4 col-md-8">
                <img class="blogImage" src="img/blog.png" alt="">
                <div class="blogContent">
                    <h5 class="blogItemTitle">
                        <a class="blogLink" href="#">A Note About Windows 10 Upgrades</a>
                    </h5>

                    <p class="blogParagraph">
                        Our clients are constantly asking me about Windows 10 and
                        the upgrade process...
                    </p>
                </div>

                <div class="blogInfo">
                    <div class="blogUser">
                        <i class="blogIcon fa fa-user" aria-hidden="true"></i>
                        <span class="blogText">Admin</span>
                    </div>

                    <div class="blogDate">
                        <i class="blogIcon fa fa-calendar" aria-hidden="true"></i>
                        <span class="blogText">June 11</span>
                    </div>

                    <div class="blogCat">
                        <i class="blogIcon fa fa-tag" aria-hidden="true"></i>
                        <span class="blogText">News</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose container-fluid">
    <div class="container">
        <div class="chooseRight">
            <div class="row justify-content-center">
                <pre class="chooseThinTitle col-lg-10 col-md-12">Know Why</pre>
                <h1 class="chooseBoldTitle col-lg-10 col-md-12">Choose Us</h1>
                <p class="chooseDescription col-lg-10 col-md-12">
                    No sea takimata sanctus est Lorem ipsum dolor sit amet lorem ipsum dolor sit amet.
                </p>

                <div class="accordionBlock col-lg-10 col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="accordionItem">
                        <div class="accordionHeader" role="tab" id="headingOne">
                            <a class="accordionTitle" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Experience
                            </a>
                        </div>

                        <div id="collapseOne" class="accordionBody collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <p class="accordionParagraph">
                                No sea takimata sanctus est Lorem ipsum dolor sit
                                amet lorem ipsum doloamet consetetur sadipscing
                                elitr sediam nonumy eirmod tempor invidunt.
                            </p>
                        </div>
                    </div>

                    <div class="accordionItem">
                        <div class="accordionHeader" role="tab" id="headingOne">
                            <a class="accordionTitle" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Quality
                            </a>
                        </div>

                        <div id="collapseTwo" class="accordionBody collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <p class="accordionParagraph">
                                No sea takimata sanctus est Lorem ipsum dolor sit
                                amet lorem ipsum doloamet consetetur sadipscing
                                elitr sediam nonumy eirmod tempor invidunt.
                            </p>
                        </div>
                    </div>

                    <div class="accordionItem">
                        <div class="accordionHeader" role="tab" id="headingOne">
                            <a class="accordionTitle" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Guarantees
                            </a>
                        </div>

                        <div id="collapseThree" class="accordionBody collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <p class="accordionParagraph">
                                No sea takimata sanctus est Lorem ipsum dolor sit
                                amet lorem ipsum doloamet consetetur sadipscing
                                elitr sediam nonumy eirmod tempor invidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients container-fluid">
    <div class="clientsCarousel">
        <div class="clientItem col-lg-12">
            <div class="container">
                <img class="clientsImage" src="img/client.png" alt="">

                <h4 class="clientsName">Karl Greaves</h4>

                <span class="clientsSub">Client</span>

                <blockquote>
                    Randy came out to my house. He was on time, extremely pleasant,
                     and got the job done. My dog liked him too…… I would definitely
                      hire this company again. Price was fair, service was great,
                      and tech – well I could adopt him!
                </blockquote>
            </div>
        </div>

        <div class="clientItem col-lg-12">
            <div class="container">
                <img class="clientsImage" src="img/client.png" alt="">

                <h4 class="clientsName">Karl Greaves</h4>

                <span class="clientsSub">Client</span>

                <blockquote>
                    Randy came out to my house. He was on time, extremely pleasant,
                     and got the job done. My dog liked him too…… I would definitely
                      hire this company again. Price was fair, service was great,
                      and tech – well I could adopt him!
                </blockquote>
            </div>
        </div>

        <div class="clientItem col-lg-12">
            <div class="container">
                <img class="clientsImage" src="img/client.png" alt="">

                <h4 class="clientsName">Karl Greaves</h4>

                <span class="clientsSub">Client</span>

                <blockquote>
                    Randy came out to my house. He was on time, extremely pleasant,
                     and got the job done. My dog liked him too…… I would definitely
                      hire this company again. Price was fair, service was great,
                      and tech – well I could adopt him!
                </blockquote>
            </div>
        </div>
    </div>
</section>
<div class="clientsCarouselDots"></div>

<section class="appointment container-fluid">
    <div class="appointmentBlock container">
        <h3 class="appointmentTitle">
            appointment
        </h3>

        <span class="col-lg-12">
            Read our recent blogs to always be updated with our news
        </span>

        <form class="appointmentForm row">
            <div class="col-lg-4 col-md-6">
                <input type="text" name="" value="" class="appointmentName" placeholder="Name">
            </div>

            <div class="col-lg-4 col-md-6">
                <input type="text" name="" value="" class="appointmentPhone" placeholder="Phone">
            </div>

            <div class="col-lg-2 col-md-6">
                <input placeholder="Date" class="appointmentDate" type="text" onfocus="(this.type='date')" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
            </div>

            <div class="col-lg-2 col-md-6">
                <input type="text" name="" value="" onfocus="(this.type='time')" class="appointmentTime" placeholder="Time">
            </div>

            <div class="col-lg-12">
                <textarea name="name" rows="8" cols="80" class="appointmentMessage" placeholder="Message"></textarea>
            </div>

            <button type="button" name="button" class="appointmentButton col-lg-2">
                Schedule free<br /> device drop in
            </button>
        </form>
    </div>
</section>

<section class="faq container-fluid">
    <div class="faqBlock container">
        <h3 class="faqTitle">FAQ</h3>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="faqItem">
                    <h5 class="faqItemTitle">Do you offer onsite repairs?</h5>

                    <p class="faqParagraph">
                        Yes. We offer a onsite or in home service for repair.
                        Extra charges may apply.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8">
                <div class="faqItem">
                    <h5 class="faqItemTitle">Do you offer onsite repairs?</h5>

                    <p class="faqParagraph">
                        Yes. We offer a onsite or in home service for repair.
                        Extra charges may apply.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8">
                <div class="faqItem">
                    <h5 class="faqItemTitle">Do you offer onsite repairs?</h5>

                    <p class="faqParagraph">
                        Yes. We offer a onsite or in home service for repair.
                        Extra charges may apply.
                    </p>
                </div>
            </div>
        </div>

        <div class="faqButton">
            <a href="#">View All Faqs</a>
        </div>
    </div>
</section>

<section class="inTouchFooter container-fluid">
    <div class="container">
        <div class="row">
            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Call Us 24/7</h6>
                <pre class="inTouchText">+123-456-7890</pre>
            </div>

            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Email Address</h6>
                <pre class="inTouchText">device@repair.com</pre>
            </div>

            <div class="inTouchItem col-lg-4">
                <h6 class="inTouchHeading">Open Hours</h6>
                <pre class="inTouchText">Daily 8:00-19:00</pre>
            </div>
        </div>
    </div>
</section>
